@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');


/* GLOBAL STYLES FOR THE WEBSITE STARTS HERE */

body {
    font-family: 'Bitter', serif;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-desc {
    color: rgba(53, 53, 53, 0.938);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.red-color-text {
    color: #E55473;
}

/* GLOBAL STYLE ENDS HERE */


/* HEADER SECTION STYLE STARTS HERE */

.website-header {
    background-color: rgba(212, 75, 104, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.hero-section {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

}

.main-title {
    color: #272727;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-section-right img {
    width: 505px;
    height: 635px;
}

/* THE HEADER SECTION STYLES END HERE*/


/* MAIN SECTION STYLE STARTS HERE */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* FEATURED-AREA SECTION STYLE STARTS HERE */

.featured-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
}

.featured-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
    text-align: center;
}

.featured-flower-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    max-width: 1140px;
}

.featured-flower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 65px 45px 0 45px;
    max-width: 370px;
    height: 360px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.img-container1 img {
    height: 320px;
    width: 280px;
}

.img-name-container {
    padding: 20px 0;
    text-decoration: underline;
    color: #272727;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.img-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 65px 45px 0 45px;
    max-width: 370px;
    height: 360px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.img-container2 img {
    height: 320px;
    width: 280px;
}

.img-container3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 65px 45px 0 45px;
    max-width: 370px;
    height: 360px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.img-container3 img {
    height: 320px;
    width: 280px;
}

/* FEATURED-AREA SECTION STYLE ENDS HERE */


/* WHY-MY-SHOP SECTION STYLE STARTS HERE */

.why-my-shop {
    margin-top: 150px;
    width: 1140px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.why-my-shop div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.why-my-shop div p {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* WHY-MY-SHOP SECTION STYLE ENDS HERE */


/* SHOP-OFFER SECTION STYLE STARTS HERE */

.shop-offer {
    margin-top: 150px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.shop-offer-container {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.offer-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 470px;
}

/* SHOP-OFFER SECTION STYLE ENDS HERE */


/* INSTA-POST SECTION STYLE STARTS HERE */

.insta-post {
    margin-top: 150px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.insta-post-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.insta-post-intro p {
    width: 550px;
    text-align: center;
}

.insta-post-images {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.insta-post-images img {
    width: 270px;
    height: 313px;
}

/* INSTA-POST SECTION STYLE ENDS HERE */


/* SUBSCRIPTION-FORM SECTION STYLE STARTS HERE */

.subscription-form {
    width: 1140px;
    height: 400px;
    margin-top: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url('./images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscription-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.subscription-area input[type=email] {
    width: 480px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 30px;
}

/* SUBSCRIPTION-FORM SECTION STYLE ENDS HERE */


/* LOCATION AND OPENING HOURS - BONUS SECTION STYLE STARTS HERE */

.location-time {
    width: 100%;
    margin-top: 150px;
    background-color: rgba(253, 129, 237, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.location-time-container {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.location-time-img img {
    width: 480px;
    height: 600px;
}

.location-time-desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.location-time-desc address {
    color: rgba(39, 39, 39, 0.60);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.smaller-title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin-top: 20px;
}

.shop-hour {
    list-style: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.shop-hour li {
    margin-bottom: 10px;
}

#italic-desc {
    font-style: italic;
    color: #111010;
}

/* LOCATION AND OPENING HOURS - BONUS SECTION STYLE ENDS HERE */


/* FOOTER-AREA SECTION STYLE STARTS HERE */

.footer-area {
    margin-top: 150px;
    padding: 130px 0;
    background-color: #111010;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-container p {
    color: rgba(255, 255, 255, 0.90);
    width: 550px;
    text-align: center;
}

.footer-container small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

/* FOOTER-AREA SECTION STYLE ENDS HERE */